<?xml version="1.0" encoding="UTF-8"?>
<aws revision="1">
    <cluster lb="xrow" update="yes">
        <instance name="localhost">
            <role>web</role>
            <role>admin</role>
            <!-- <role>storage</role> -->
            <role>solr</role>
            <role>database</role>
        </instance>
        <rpm>ezfind-solr</rpm>
        <database-setting name="wait_timeout">50</database-setting>
        <environment name="5.4" docroot="web">
            <cron timing="* * * * *" group="frequent" />
            <cron timing="1 * * * *" group="hourly" />
            <cron timing="1 1 * * *" group="daily" />
            <cron timing="5 2 * * 1" group="weekly" />
            <cron timing="5 3 1 * *" group="monthly" />
            <bootstrap>
                <script><![CDATA[
#!/bin/sh
VERSION="5.4"
SOLR_URL="[SOLR_URL]"
DATABASE_SERVER="[DATABASE_SERVER]"
DATABASE_USER="[DATABASE_USER]"
DATABASE_PASSWORD="[DATABASE_PASSWORD]"
DATABASE_NAME="[DATABASE_NAME]"
DFS_DATABASE_SERVER="[DFS_DATABASE_SERVER]"
DFS_DATABASE_USER="[DFS_DATABASE_USER]"
DFS_DATABASE_PASSWORD="[DFS_DATABASE_PASSWORD]"
DFS_DATABASE_NAME="[DFS_DATABASE_NAME]"
DFS_MOUNT="[DFS_MOUNT]"
AWS_KEY="[AWS_KEY]"
AWS_SECRETKEY="[AWS_SECRETKEY]"
AWS_ACCOUNTID="[AWS_ACCOUNTID]"
PACKAGES="http:\/\/packages.ez.no\/ezpublish\/${VERSION}\/${VERSION}.0\/"
SCRIPT=`readlink -f $0`
SCRIPTDIR=$(dirname ${SCRIPT})
INSTALLATION_ID=""
LICENCE_KEY=""
wget --no-check-certificate https://raw.githubusercontent.com/xrowgmbh/xrowvagrant/master/ezcluster/scripts/54.sh
source ./54.sh
]]></script>
            </bootstrap>
            <database dsn="mysql://admin:centos@localhost/ezpublish"/>
            <storage dsn="mysql://admin:centos@localhost/ezpublish" mount="/mnt/nas/live"/>
            <hostname>stable.*</hostname>
            <hostname>localhost</hostname>
        </environment>
        <environment name="ezplatform-demo" 
                     docroot="web"
                     script="https://raw.githubusercontent.com/xrowgmbh/xrowvagrant-demodata/ezplatform/build">
            <database dsn="mysql://admin:centos@localhost/ezplatform"/>
            <storage dsn="mysql://admin:centos@localhost/ezplatform" mount="/mnt/nas/ezplatform"/>
            <hostname>ezplatform.*</hostname>
        </environment>
        <environment name="plain" scm="https://github.com/xrowgmbh/xrowvagrant-demodata.git" branch="plain">
            <database dsn="mysql://admin:centos@localhost/plain"/>
            <storage dsn="mysql://admin:centos@localhost/plain" mount="/mnt/nas/live"/>
            <hostname>plain.*</hostname>
        </environment>
        <environment name="sylius-demo"
                     docroot="web"
                     scm="https://github.com/xrowgmbh/sylius-demo.git">
            <database dsn="mysql://admin:centos@localhost/sylius"/>
            <hostname>sylius.*</hostname>
        </environment>
    </cluster>
</aws>
