[Unit]
Description=eZ Platform Application Server
After=syslog.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/usr/share/ezcluster
ExecStart=/usr/bin/ezcluster start
ExecStop=/usr/bin/ezcluster stop

[Install]
WantedBy=multi-user.target
