[Unit]
Description=eZ Platform Application Server
After=syslog.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/environment
WorkingDirectory=/usr/share/ezcluster
ExecStart=/usr/share/ezcluster/bin/ezcluster ezcluster start
ExecStop=/usr/share/ezcluster/bin/ezcluster ezcluster stop

[Install]
WantedBy=multi-user.target
RequiredBy=httpd.service
